.contact-div{
    border-radius: 5px;
    border: 1px solid #b40404;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 12px;
}
.contact-us{
    color: #b40404;
    font-size: 500;
    font-size: 16px;
    margin-bottom: 0px;
}
.email{
    margin-top: 5px;
}
.call-us{
    color: #b40404;
    font-size: 500;
    font-size: 16px;
    margin-bottom: 0px;
}
.call{
    margin-top: 5px;
}