
<ion-content  no-border fullscreen="true"  class="ion-padding background no-scroll" >
 
  
  <ion-list class="items-middle" class="ion-text-center bothPadding">
   <ion-row>
      <ion-col style="padding-left: 0px;" class="ion-text-left" size="col-4">
          <img src="assets/imgs/khaobchao.png" width="45%">
      </ion-col>
    </ion-row>
   
     <h3 class="main_heading ion-text-left">Congratulations</h3>
    <p class="font-color ion-text-left subText">
      Your Resturant has been verified and accepted
you can start taking bookings now.
    </p>
    <ion-row>
      <ion-col size="12" text-center>
          <img src="assets/imgs/welcome.png"  >

      </ion-col>
      <ion-col  size="12" >
          <h4 class="serving">Happy Serving</h4>
      </ion-col>
    </ion-row>
    
    <ion-button class="button-login" color="danger" shape="round" style="margin-top: 4em;" (click)="addRestaurantStatusOrder()">Start Recieving order</ion-button>
  </ion-list>

</ion-content>
