.text-center{
    text-align: center;
}

ion-card {
    position: relative;
    text-align: center;
    box-shadow: none;
  
  }
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
  
  .white{
    color:#fff;
    margin-bottom: 0;
    margin-top:3px;
    width: 83%;
  }
  .stars{
  color: rgba(255, 255, 255, 0.48);
  }
  .red{
  color:#b40404;
  }
  .heart{
   font-size: 24px;
  }
  ion-card-header{
    padding:15px 34px 10px 34px;
 
  }
  ion-card-header img{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    margin: 0 auto;
  }
  ion-card-content{
    text-align: left;
    color: #a3a3a3;
    padding-top: 20px;
  }
  ion-card-content img{
    width: 15px;
    height: 15px;
    margin-top: 1px;
    margin-right: 4px;
  }
  ion-card-subtitle{
    color: #b40404;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 700;
  }
  .card-content-md p{
    display: flex;
    font-size: 17px;
  }
  ion-icon{
    position: relative;
    top: 2px;
    margin-right: 5px;
  }
  .primary_color{
    color: #b40404;
  }
  .float-right{
    float: right;
  }
  .fa_cros{
    position: absolute;
    right: 0px;
    z-index: 999;
  }
  .icon_close{
    font-size: 20px;
  }
  strong{
      font-weight: 800;
      color: #b40404;
  }
  .ion-color-danger {
    --ion-color-base: #b40404 !important;
    --ion-color-base-rgb: var(--ion-color-danger-rgb, 240, 65, 65) !important;
    --ion-color-contrast: var(--ion-color-danger-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-danger-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: #b40404 !important;
    --ion-color-tint: #b40404 !important;
}
.basket{
    font-size: 23px;
    color: #b40404;
}
.me_top{
    margin-top: 2px;
}