<ion-header class="header_background">
  <ion-toolbar class="header_background">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-card *ngFor="let getTopRestaurant of getTopRestaurantsVar" (click)="openRestaurantAsSingle(getTopRestaurant)">
      <img src="assets/imgs/menuone.png"/>
      <!--<img src="{{ coverImageBaseUrl }}{{ getTopRestaurant.restaurant_image }}"/>-->
      <!--<div class="catsubone" text-left><p>5$</p></div>-->
      <div class="catsubtwo">
        <p class="white" style="font-size: 15px;">{{ getTopRestaurant.name }}</p>
        <p class="white">{{ getTopRestaurant.location }} 
          <span *ngFor="let distanceArr of distanceArr">
            <span *ngIf="distanceArr.restaurantId == getTopRestaurant.restaurants_id">
              ( {{ distanceArr.distance | roundoff }}Km away )
            </span>
            
        </span></p><!--change the distance here on the basis of the user location and the restaurant location-->
        <p style="display: flex;margin-top: 4px;">
        <ionic4-star-rating #rating
        activeIcon = "ios-star"
        defaultIcon = "ios-star-outline"
        activeColor = "#b40404"
        defaultColor = "#aaaaaa"
        readonly = "true"
        rating = "{{ getTopRestaurant.rating_count }}"
        fontSize = "20px"
        ><!--(ratingChanged)="logRatingChange($event)"-->
        </ionic4-star-rating>
        <span class="starReview">256 Reviews</span>
        </p>
      </div>
      <ion-row class="customSlider-new">
        <div *ngFor="let discount of discounts">
          <div class="sidetagone-new" *ngIf="getTopRestaurant.restaurants_id == discount.restaurant_id">
            <img *ngIf="getTopRestaurant.restaurants_id == discount.restaurant_id" src="assets/imgs/bg_discount.png" />
            <div *ngIf="getTopRestaurant.restaurants_id == discount.restaurant_id" class="myOverlay-new">
              <p class="white-new txtOne-new">-{{ discount.discount_rate }}%</p>
              <p class="white-new txtTwo-new" >{{ discount.start_time }}</p>
            </div>
          </div>
        </div>
      </ion-row>
    </ion-card>
</ion-content>
