.loader-gif-row{
    position: absolute;
    margin-top: 80%;
    z-index: 9;
    text-align: center;
  }
  .loader-gif{
    width: 60%;
  }
  ion-card {
    position: relative;
    text-align: center;
  }
  .home-header-city{
    color: #fff;
    font-size: 13px;
    margin-right: 3px;
    text-transform: capitalize;
  }
  .home-header-home-loc{
    width: 14px;
    margin-right: 6px;
  }
  .home-header-location-search{
    width: 14px;
    margin-right: 6px;
    margin-left: 10px;
  }
  .sidetagone{
    position: absolute;
    right: 9px;
    top: 1em;
    width: 10%;
  }
  .sidetagtwo{
    position: absolute;
    right: 9px;
    top: 5em;
    width: 10%;
  }
  .sidetagthree{
    position: absolute;
    right: 9px;
    top: 9em;
    width: 10%;
  }
  .sidetagone .myOverlay{
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    opacity: 0.5;
    color: #fff;
  
  }
  .sidetagtwo .myOverlay{
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    opacity: 0.5;
    color: #fff;
  
  }
  .sidetagthree .myOverlay{
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    opacity: 0.5;
    color: #fff;
  
  }
  .txtOne{
    margin-top: 2.6em;
    font-weight: 700;
    font-size: 10px;
  }
  .txtTwo{
    margin: -5px 0px 0px 0px;
    font-weight: 700;
    font-size: 10px;
  }
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
  
  ion-slides {
    --bullet-border-radius: 0%;
    --bullet-width: 16px;
    --bullet-height: 5px;
  }
  
  ion-slides {
    --bullet-background: #000;
    --bullet-background-active:  #b40404;
  }
  ion-title{
    color:#fff;
    font-size: 16px;
  }
  ion-menu-button{
    color:#fff;
  }
  .segment-ios .segment-button.segment-activated{
  color: #fff !important;
  background-color: #b40404;
  }
  .segment-ios .segment-button{
  border-color: #b40404;
  }
  .catsubone{
  position: absolute;
  top: 8px;
  left: 9px;
  }
  .catsubone p{
  font-size: 1.5em;
  font-weight: 400;
  color: #b40404;
  background: rgba(0, 0, 0, 0.57);
  padding: 0px 12px;
  }
  .catsubtwo{
  position: absolute;
  left: 9px;
  bottom: 14px;
  text-align: left;
  }
  .white{
    color:#fff;
    margin-bottom: 10px;
    margin-top:3px;
    width: 83%;
  }
  .stars{
  color: rgba(255, 255, 255, 0.48);
  }
  .red{
  color:#b40404;
  }
  .sidetagone p{
    font-size: 10px;
    }
  
  .sidetagstwo p{
  font-size: 10px;
  }
  
  .sidetagsthree p{
  font-size: 10px;
  }
  .cstomHeader{
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px #0000000f; 
  }
  .sc-ion-segment-md-h {
    --background: none;
    --background-checked: none;
    --background-hover: rgba(var(--ion-color-primary-rgb,56,128,255),0.04);
    --background-activated: rgba(var(--ion-color-primary-rgb,56,128,255),0.16);
    --color: rgba(var(--ion-text-color-rgb,0,0,0),0.6);
    --color-checked: #b40404;
    --color-checked-disabled: var(--color-checked);
    --indicator-color: transparent;
  }
  ion-segment-button{
     font-size: 11px;
     text-transform: inherit;
  }
  //rating stars
  
  ionic4-star-rating{
    font-size: 20px;
  }
  
  //new css of the new code 
  .customSlider-new{
    overflow-y: scroll;
    height: 12.6em;
    position: absolute;
    right: -35px;
    top: 0.5666em;
    display: inline-grid;
  }
  .sidetagone-new{
    width: 48%;
    margin-top: 0.5em;
    position: sticky;
    touch-action: auto;
  }
  .sidetagone-new .myOverlay-new{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 99;
    top: 11px;
    right: 0em;
    opacity: 1;
    color: #fff;
  }
  .white-new{
    color:#fff;
  }
  .txtOne-new{
    margin-top: 5px;
    font-weight: 700;
    font-size: 10px;
  }
  .txtTwo-new{
    margin: -5px 0px 0px 0px;
    font-weight: 700;
    font-size: 6px;
  }
  .catsubtwo{
    position: absolute;
    left: 9px;
    bottom: 0px;
    text-align: left;
    font-size: 12px;
  }
  .catDate{
    position: absolute;
    right: 9px;
    top: 17px;
    text-align: right; 
  }
  .hotelName{
    font-size: 18px;
  }
  .heart{
   font-size: 24px;
  }
  .reviewItem{
    position: relative;
    top: -4px;
    left: 2px;
  }
  .az{
    height: 8.5em;
  }
  .alphabets{
    color: #b40404;
    font-weight: 700;
    margin-left: 1em;
  }
  ion-menu-button{
     width: 88px;
  }
  .list-md{
    padding-top: 0px;
  }
  ion-slide{
    border-radius: 0px;
  }
  .starReview{
    color: #fff;
    margin-top: 3px;
    margin-left: 5px;
  }
  .vl {
    border-left: 1px solid #e0e0e0;
    height: 28px;
    position: absolute;
    margin-left: -20px;
    margin-top: -3px;
  }
  // search input
  .search-input{
    background: #b40404;
    border: 1px solid #fff;
    border-radius: 35px;
    height: 45px;
    color: #fff;
  }
  .sc-ion-input-md-h , .sc-ion-input-ios-h {
    --padding-top: 10px;
    --padding-end: 40px;
    --padding-bottom: 10px;
    --padding-start: 18px;
    font-size: inherit;
  }
  .search-icon-div{
    position: absolute;
    right: 18px;
    top: 20px;
    z-index: 99;
  }
  .alphabet-color{
    color: #b40404;
      margin-left: 14px;
      font-weight: 500;
  }