<ion-header class="header_background">
  <ion-toolbar class="header_background">
    <ion-row size="12">
      <ion-col size="3">
        <img class="arrowLeft" routerLink="/tabs/offers" src="assets/imgs/backArrow.png">
      </ion-col>
      <ion-col size="6" text-center>
        <ion-title>{{restaurantName}}</ion-title>
      </ion-col>
      <!--ion-col size="3" class="ion-text-right oferDetail">
        Offer Detail
      </ion-col-->
    </ion-row>
   
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-row class="pdBoth">
  <ion-col *ngFor="let discounts of discounts"  size="6" style="margin-top: 1em;">
    <ion-row class="bb" (click)="editDayDiscount(discounts)">
      <ion-col size="3" class="ion-text-center mtop ">
        <img src="assets/imgs/percent.png">
      </ion-col>
      <ion-col class="ion-text-left pad" size="6">
        <p>{{ discounts.discount_rate }}% off</p> 
        <p>{{ discounts.start_time }}</p>
      </ion-col>
      <ion-col size="3" class="ion-text-right mtop">
        <span class="fr" (click)="discount_delete(discounts.discounts_id)">x</span>
      </ion-col>
      </ion-row>
  </ion-col>
</ion-row>
</ion-content>
