ion-title{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 2px;
}
.pdBoth{
    padding: 0em 0.9em;
}
.arrowLeft{
    width: 11px;
    margin-top: 2px;
    margin-left: 1em;
}
.settingRight{
    width: 18px;
    margin-top: 3px;
    margin-left: -1em;
}
.oferDetail{
    color: #fff;
    font-weight: 700;
    margin-top: 3px;
    padding-right: 10px;
}
.mtop{
        margin-top:17%;
}
.fr{
    color: #fff;
    background: #b40404;
    padding:3px 9px 6px 8px;
    border-radius: 20px;
}
.bb{
    border: 1px solid #b40404;
    border-radius: 10px;
    padding: 0px;
}