
.catsubtwo{
    position: absolute;
    left: 9px;
    top: 14px;
    text-align: left;
}
ion-menu-button{
  width: 100px;
}
.catDate{
    position: absolute;
    right: 9px;
    top: 17px;
    text-align: right; 
}
  .white{
    color:#fff;
    font-size: 11px;
}
.stars{
  color: rgba(255, 255, 255, 0.48);
}
.red{
  color:#b40404;
}
.hotelName{
    font-size: 18px;
}
.heart{
   font-size: 24px;
}
p{
    margin: 4px 0px;
}
.starSize{
    font-size: 20px;
}
.reviewItem{
    position: relative;
    top: -4px;
    left: 2px;
}
.sc-ion-segment-md-h {
    --background: none;
    --background-checked: none;
    --background-hover: rgba(var(--ion-color-primary-rgb,56,128,255),0.04);
    --background-activated: rgba(var(--ion-color-primary-rgb,56,128,255),0.16);
    --color: rgba(var(--ion-text-color-rgb,0,0,0),0.6);
    --color-checked: #b40404;
    --color-checked-disabled: var(--color-checked);
    --indicator-color: transparent;
  }
  ion-card{
    height: 8.5em;
  }
  .loader-gif-row{
    position: absolute;
    margin-top: 80%;
    z-index: 9;
    text-align: center;
  }
  .loader-gif{
    width: 60%;
  }
  .home-loc-icon-class{
    width: 9px;
  }