
  .spanTitle{
    float: right;
    margin-right: 1em;
    color: #fff !important;
    font-size: 16px;
    width: 106px;
    text-align: right;
    line-height: 20px;
  }
  ion-menu-button{
    width: 75px;
    margin-left: 9px;
  }
  .bgh{
    background: #b40404 !important;
    color: #fff;
    padding: 0.3em 0.7em;
  }
  .mt{
      margin-top: 10px;
  }