
<ion-content  no-border fullscreen="true"  class="ion-padding background no-scroll" >
 
  
  <ion-list class="items-middle" class="ion-text-center bothPadding">
   <ion-row>
      <ion-col style="padding-left: 0px;" class="ion-text-left" size="col-4">
          <img src="assets/imgs/khaobchao.png" width="45%">
      </ion-col>
    </ion-row>
   
     <h3 class="main_heading ion-text-left">Congratulations</h3>
    <p class="font-color ion-text-left">
      You Have Successfully made your resturant
      We will review your resturant and will
      get back to you in few working days.
    </p>
    <ion-row>
      <ion-col text-center>
          <img src="assets/imgs/congrats.png"  >
      </ion-col>
    </ion-row>
    
    <ion-button class="button-login" color="danger" shape="round">Sure</ion-button>
  </ion-list>

</ion-content>
