<ion-header class="header_background">
  <ion-toolbar class="header_background">
    <ion-buttons slot="start">
      <img (click)="openSideMenu()" style="width: 68px;" src="assets/imgs/headerLogo.png">
    </ion-buttons>
    <ion-title>Liked</ion-title>
    <ion-buttons slot="end">
      <span class="home-header-city">{{ cityName }}</span>
     <!---- <span>
        <img class="home-header-home-loc" src="assets/imgs/home-loc-icon.png">
      </span>-->
      <span>
        <img (click)="openSearchRestaurant()" class="home-header-location-search" src="assets/imgs/location-search.png">
      </span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="loaderShow" class="loader-gif-row">
    <ion-col>
      <img class="loader-gif" src="assets/imgs/loader.gif">
    </ion-col>
  </ion-row>
  <p *ngIf="noDataText" class="no-favourites">Currently no favourites!</p>
  <ion-card *ngFor="let favorites of favorites" >
    <img (click)="openRestaurantAsSingle(favorites)" src="../assets/imgs/menuone.png"/>
    <div class="catsubtwo">
      <p class="white">{{ favorites.name }}   <span style="color: #b40404;font-size: 450;font-size: 16px;">$$</span></p><!---->
      <p class="white">{{ favorites.location }} 
        <span *ngFor="let distanceAr of distanceArr">
          <span *ngIf="distanceAr.restaurantId == favorites.restaurant_id">
            ( {{ distanceAr.distance | roundoff }}Km away )
          </span>
          
      </span>
      </p><!----><!--{{ favorites.distance }}-->
      
      <!--<p class="white">235 Reservations</p>--><!--{{ favorites.reservationcount }}-->
    </div>
    <div class="catDate" (click)="removeFromLike(favorites)">
      <p class="red heart"><ion-icon ios="ios-heart" md="md-heart"></ion-icon></p>
    </div>
  </ion-card> 
  
   
</ion-content>
