<ion-header class="header_background">
  <ion-row class="bgh">
    <ion-col size="4"  class="ion-text-left">
     <span (click)="toggleMenu()">
       <img src="assets/imgs/dots.svg" width="68px" > 
     </span> 
    </ion-col>
    <ion-col size="4" class="ion-text-center mt">
     {{restaurantName}}
    </ion-col>
    <ion-col size="4"  class="ion-text-right mt"  >
      Notifications
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ng-container *ngFor="let notify of notifications" >
  <ion-row class="bg_color" *ngIf="notify.user_type =='Restaurant'">
    <ion-col text-center size="3" *ngIf="notify">
      <img src="assets/imgs/bell.png" class="bellImg"/>
    </ion-col>
    <ion-col>
      <h6>
        {{notify.description}}
      </h6>
      <p class="time">
        {{notify.date_added}}
      </p>
    </ion-col>
  </ion-row>
  <ion-row class="bg_color" *ngIf="notify.user_type =='Customer'"> 
    <ion-col text-center size="3">
      <div class="sidetagone">
        <img src="assets/imgs/bg_discount.png">
        <p class="bg_img_text white" style="margin-top: 1.6em;">-5%</p>
      </div>
    </ion-col>
    <ion-col>
      <h6>
        {{notify.description}}
      </h6>
      <p class="time">
        {{notify.date_added}}
      </p>
    </ion-col>
  </ion-row>
</ng-container>
 
</ion-content>
