.bg_color:nth-child(even) {background: rgba(204, 204, 204, 0.34)}
    .bg_color:nth-child(odd) {background: #FFF}
    .time{
        margin-top: 0px;
        color: #969595;
        font-weight: 300;
    }
    ion-menu-button{
      width: 75px;
      margin-left: 2px;
    }
    .bgh{
      background: #b40404 !important;
      color: #fff;
      padding: 0.3em 0.7em;
    }
    .mt{
        margin-top: 10px;
    }
    .mt2{
      padding-left: 1em;
      margin-top: 1px;
    }
    .sidetagone{
        position: absolute;
        right: 27%;
        top: 15px;
        width: 45%;
        height: 55px;
       // background-image: url(../assets/imgs/bg_discount.png);
        background-size: cover;
      }
      .sidetagone p{
        font-size: 14px;
      }
      .white{
        color:#fff;
    }
    .bellImg{
        width: 44%;
        margin-top: 0.8em;
    }
    .bg_img_text{
      position: absolute;
      top: 12%;
      left: 8px;
    }
    .spanTitle{
    float: right;
    margin-right: 1em;
    color: #fff;
    font-size: 16px;
    width: 95px;
    text-align: right;
    line-height: 20px;
  }