.bgh{
    background: #b40404 !important;
    color: #fff;
    padding: 0.3em 0.7em;
}
.mt{
    margin-top: 10px;
}
.pname{
    display: block;
    margin-top: 0.4em;
    font-size: 25px;
}
label{
    color:#b40404;
}
.mtop{
    margin-top: 1em;
}
.pdh{
    padding: 0em 1em;
    text-align: center;
}
p{
    margin: 4px 0px;
}