<ion-header class="header_background">
  <ion-row class="bgh">
    <ion-col size="4"  class="ion-text-left">
     <span (click)="toggleMenu()">
       <img src="assets/imgs/dots.svg" width="68px" > 
     </span> 
    </ion-col>
    <ion-col size="4" class="ion-text-center mt">
      {{restaurantName}}
    </ion-col>
    <ion-col size="4"  class="ion-text-right">
      Regional Mananger
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
    <ion-row class="mtop">
      <ion-col class="ion-text-center">
        <img src="assets/imgs/event-img-profile.png">
        <label class="pname">Name</label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
          <label>Phone Number</label>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
          <p>+92373747493</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
          <label>Whatsapp Number</label>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
          <p>+92373747493</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
          <label>Email</label>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
          <p>khaobchao@support.com</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="pdh">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
      </ion-col>
    </ion-row>
</ion-content>
