.loader-gif-row{
    position: absolute;
    margin-top: 80%;
    z-index: 9;
    text-align: center;
  }
  .loader-gif{
    width: 60%;
  }
  .bgh{
    background: #b40404 !important;
    color: #fff;
    padding: 0.3em 0.7em;
  }
  .mt{
      margin-top: 10px;
  }
  .mt2{
    padding-left: 1em;
    margin-top: 1px;
  }
  ion-card {
    position: relative;
    text-align: center;
    box-shadow: none;
    border: 1px solid #b40404;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .fr{
    float: right;
    color: #ffffff;
    background: #b40404;
    padding: 4px 2px 4px 6px;
    height: 27px;
    border-radius: 16px;
    margin-right: 5px;
  }
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
  
  .white{
    color:#fff;
    margin-bottom: 0;
    margin-top:3px;
    width: 83%;
  }
  .stars{
  color: rgba(255, 255, 255, 0.48);
  }
  .red{
  color:#b40404;
  }
  .heart{
   font-size: 24px;
  }
  ion-card-header{
    padding:15px 34px 10px 34px;
  }
  ion-card-header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  ion-card-content{
    text-align: left;
    color: #a3a3a3;
    padding-top: 6px;
  }
  ion-card-content img{
    width: 15px;
    height: 15px;
    margin-top: 1px;
    margin-right: 4px;
  }
  ion-card-subtitle{
    color: #b40404;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 700;
  }
  .card-content-md p{
    display: flex;
    font-size: 12px;
  }
  ion-icon{
    position: relative;
    top: 2px;
    margin-right: 5px;
  }
  ion-menu-button{
    width: 75px;
    margin-left: 2px;
  }
  .spanTitle{
    float: right;
    margin-right: 1em;
    color: #fff;
    font-size: 16px;
    width: 100px;
    text-align: right;
    line-height: 20px;
  }

.ion-color-danger {
    --ion-color-base: #b40404 !important;
    --ion-color-base-rgb: var(--ion-color-danger-rgb, 240, 65, 65) !important;
    --ion-color-contrast: var(--ion-color-danger-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-danger-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: #b40404 !important;
    --ion-color-tint: #b40404 !important;
    --box-shadow: none;
}
.pad{
    padding-left: 0px;
    padding-top: 0px;
}
.pad p{
    margin-bottom: 0px;
}
.cardTitle{
    text-align: left;
    margin-left: 7%;
    margin-top: 4%;
}
.onDays{
    padding-left: 4%;
    font-size: 17px;
    color: #b40404;
    font-weight: 700;
}
.no-reservation{
  text-align: center;
  color: #b40404;
  font-weight: 550;
  font-size: 17px;
  margin-top: 10%;
}